.catalog-list {
  .no-list();
  outline: 1px solid tomato;
}

.catalog-list__item {
  padding: 30px;
  outline: 1px solid tomato;
}

.catalog-list__item:nth-child(1) {
  background-color: #63d1bb;
}

.catalog-list__item:nth-child(2) {
  background-color: #56c3b2;
}

.catalog-list__item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    width: 670px;
    display: flex;
    margin: 0 auto;
  }

  .catalog-list__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    width: 1050px;
  }
}
