.contacts {
  margin: 0 auto;
  padding: 0;
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 40px;
}

.contacts__title {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;
}

.contacts__table tr {
  display: inline-block;
  margin-bottom: 30px;
}

.contacts__table th {
  font-weight: normal;
  padding-right: 30px;
  text-align: left;
  vertical-align: top;
}

.contacts__table a {
  color: inherit;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
}

.contacts__button {
  margin: 39px auto;
  padding: 15px 50px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-bottom: 57px;
  }

  .contacts__wrapper {
    width: 670px;
  }

  .contacts__title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      right: 0;
      top: -15px;
      background: url("../../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__table {
    width: 100%;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__table tr {
    width: 50%;
  }

  .contacts__table th {
    vertical-align: top;
  }

  .contacts__button {
    margin: 55px auto 0;
    padding: 20px 40px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1050px;
    display: flex;
    position: relative;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__table tr {
    width: auto;
  }

  .contacts__wrapper {
    width: 350px;
    margin: 0;
    margin-left: auto;
  }

  .contacts__title {
    &::after {
      left: -118px;
    }
  }

  .contacts__button {
    position: absolute;
    margin: 0;
    left: 177px;
    bottom: 59px;
  }
}
