.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.footer__logo {
  display: none;
  cursor: pointer;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.footer__social {
  .no-list();
  display: flex;
  height: 80px;
  align-items: center;
  width: 145px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__item a {
  font-size: 0;
  display: flex;

  &:hover .footer__link-icon {
    fill: #46c1ae;
  }
}

.footer__copyright {
  color: #000000;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 25px;

  &:active {
    opacity: 0.3;
  }

  &:active .footer__copyright-link {
    fill: #46c1ae;
  }
}

.footer__copyright-link {
  font-size: 0;
  height: 34px;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-link img {
  vertical-align: top;
}

.footer__copyright-text {
  margin-right: 29px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 40px;
  }

  .footer__social {
    height: 89px;
    padding-left: 9px;
  }

  .footer__logo {
    display: block;
    width: 167px;
  }

  .footer__copyright {
    border: none;
    padding: 23px 0 25px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    margin-top: 46px;
  }

  .footer__wrapper {
    width: 1050px;
    margin-top: -4px;
  }
}
