.header {
  margin: 0 auto;
}

.header__wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__logo {
  text-align: center;
  padding: 22px 0 20px;

  [href]&:hover {
    opacity: 0.6;
  }

  [href]&:active {
    opacity: 0.3;
  }
}

.header__logo-image {
  vertical-align: top;
}

.header__menu {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
}

.header__menu-toogle {
  position: absolute;
  right: 0;
  top: -45px;
  font-size: 0;
  padding: 0;
  border: 0;
  width: 21px;
  height: 20px;
  background: #ffffff url("../../img/icon-menu-close.svg") no-repeat;
}

.header__menu-toogle--open {
  background: #ffffff url("../../img/icon-menu-open.svg") no-repeat;
}

.header__menu-toogle--no-js {
  display: none;
}

.header__menu-list {
  .no-list();

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  color: #000000;
}

.header__menu-list--hidden {
  display: none;
}

.header__menu-hidden {
  display: none;
}

.header__menu-list a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__menu-item {
  padding: 30px 0 30px 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 1px;
    width: 320px;
    background-color: #ececec;
  }
}

.header__menu-item--hidden {
  display: none;
}

.header__user-menu {
  .no-list();

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  color: #000000;
}

.header__user-icon {
  fill: #d3d2d2;
}

.header__user-icon--search {
  position: absolute;
  left: 0;
}

.header__user-icon--cart {
  position: absolute;
  left: 0;
}

.header__user-menu--hidden {
  display: none;
}

.header__user-menu a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.header__user-item {
  padding: 30px 0 30px 45px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 1px;
    width: 320px;
    background-color: #ececec;
  }

  &:hover a {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .header__user-icon {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header__logo {
    width: 167px;
    text-align: left;
    padding: 24px 0 20px;
  }

  .header__logo-image {
    width: 113px;
  }

  .header__menu {
    order: 1;
    background-color: rgba(255, 255, 255, 0);
  }

  .header__menu-toogle {
    display: none;
  }

  .header__menu-list {
    display: flex;
    justify-content: space-between;
    width: 305px;
  }

  .header__menu-item {
    font-size: 15px;
    padding: 0;
    padding-top: 16px;

    &::before {
      content: "";
      width: 0;
    }
  }

  .header__user-menu {
    display: flex;
    margin-left: auto;
  }

  .header__user-item {
    padding: 36px 0 30px;

    &::before {
      content: "";
      width: 0;
    }
  }

  .header__user-icon {
    top: 37px;
  }

  .header__user-icon--search {
    position: absolute;
    left: 32px;
  }

  .header__user-item--search {
    font-size: 0;
    width: 84px;
    background-position: 50% 50%;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-size: 18px 19px;
  }

  .header__user-item--cart {
    width: 235px;
    padding: 34px 0;
    padding-left: 53px;
    margin-left: 30px;
    background-position: 0 50%;
    background-size: 21px 18px;
  }

  .header__delivery {
    display: flex;
    order: 2;
    margin-left: auto;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    width: 1050px;
  }

  .header__logo {
    order: 1;
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0 0 22px;
  }

  .header__logo-image {
    width: 149px;
  }

  .header__menu {
    order: 0;
    width: 380px;
    position: relative;
  }

  .header__menu-list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .header__menu-item {
    font-size: 17px;
    width: 160px;
    padding-top: 34px;
  }

  .header__menu-list--hidden {
    position: absolute;
    top: 108px;
    width: 380px;
  }

  .header__menu-item--hidden {
    padding: 0;
    display: block;
    font-size: 15px;
  }

  .header__user-menu {
    order: 3;
  }

  .header__delivery {
    order: 4;
  }
}
