.reviews {
  margin: 0;
  padding: 0;
  background: #ffffff;
  position: relative;
  padding-bottom: 45px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background: url("../../img/bg-zigzag-line.svg") repeat-x;
    height: 6px;
    width: 100%;
    background-size: contain;
  }
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__item {
  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.reviews__text {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 35px;
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-link {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
}

.reviews__column-2 {
  display: flex;
}

.reviews__button {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 50%;
  font-size: 0;
  height: 52px;
  border: 1px solid #ececec;
  cursor: pointer;
}

.reviews__button--prev {
  background: #ffffff url("../../img/icon-left-arrow.svg") no-repeat 50%;
}

.reviews__button--next {
  background: #ffffff url("../../img/icon-right-arrow.svg") no-repeat 50%;
}

@media (min-width: @tablet-width) {
  .reviews {
    background: #ffffff url("../img/review@1x.jpg") no-repeat;
    padding-bottom: 67px;

    &::after {
      height: 17px;
      background-size: 772px 17px;
    }

    @media (min-resolution: @retina-dpi) {
      background: #ffffff url("../img/review@2x.jpg") no-repeat;
      background-size: 350px 457px;
    }
  }

  .reviews__wrapper {
    padding-top: 70px;
    width: 670px;
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item {
    order: 2;
  }

  .reviews__write {
    order: 1;
    margin-bottom: 0;
    margin-left: auto;
    padding: 20px 41px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 65px;
  }

  .reviews__author-wrapper {
    display: flex;
  }

  .reviews__column-2 {
    width: 167px;
    margin-left: auto;
  }

  .reviews__button {
    margin-top: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background-position: 54px top;
    padding-bottom: 120px;

    &::after {
      height: 23px;
      background-size: 1052px 23px;
    }
  }

  .reviews__wrapper {
    width: 1050px;
    padding-left: 175px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin-bottom: 45px;
    padding-right: 105px;
  }
}
